* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.geo-regular {
  font-family: "Geo", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.geo-regular-italic {
  font-family: "Geo", sans-serif;
  font-weight: 400;
  font-style: italic;
}

body {
  cursor: url(cursor-cross-2.png), auto;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  font-size: 8vh;
  font-family: "Geo", sans-serif;
  color: white;
  background: black;
}

.title-sub {
  display: flex;
  flex-direction: column;
  align-items: center;
}

h1 {
  font-size: 8vh;
}

h3 {
  font-size: 3vh;
}
